.footer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 20px 20px;
  color: #fff;
  overflow: hidden;
  gap: 50px;
}

.footer-logo {
  width: 200px;
  height: 60px;
  background: url("../images/logo.png") no-repeat center center / contain;
}

.footer-text {
  max-width: 900px;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  gap: 2rem;
}

.footer-schedule,
.footer-location,
.footer-contact {
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer-p {
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 8px;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  background: linear-gradient(
    135deg,
    #fff1a8 0%,
    #f5d77a 25%,
    #d4af37 50%,
    #cfae2e 75%,
    #fff6c2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.footer-text img.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-socials img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s;
}

.footer-socials img:hover {
  transform: translateY(-3px);
}

@media (max-width: 650px) {
  .footer-text {
    font-size: 1rem;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin-left: 0;
  }

  .footer-schedule,
  .footer-location,
  .footer-contact {
    max-width: 100%;
  }

  .footer-socials {
    justify-content: center;
  }
}
