.program-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 13rem;
  scroll-margin-top: 8rem;
}

.program-list-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.program-div {
  width: 290px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  gap: 1.5rem;
}

.program-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 6px 17px 10px 17px;
  border: 1px solid #d4af37;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.program-btn:hover {
  background: linear-gradient(
    135deg,
    #fff1a8 0%,
    #f5d77a 25%,
    #d4af37 50%,
    #cfae2e 75%,
    #fff6c2 100%
  );
  border: 1px solid #161616;
  color: #161616;
}

.program-img-div {
  width: 100%;
  height: 494px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.program-img-bg {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
  z-index: 2;
  transition: all 0.4s ease;
}

.program-img1,
.program-img2,
.program-img3,
.program-img4,
.program-img5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.program-div:hover .program-img-bg {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.2)
  );
}

.program-span {
  width: 100%;
  max-width: 180px;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  font-weight: 600;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.program-title {
  width: 100%;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: start;
  background: linear-gradient(
    135deg,
    #fff1a8 0%,
    #f5d77a 25%,
    #d4af37 50%,
    #cfae2e 75%,
    #fff6c2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .program-div {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .program-wrapper {
    margin-bottom: 5rem;
  }

  .program-span {
    font-size: 20px;
  }

  .program-title {
    font-size: 30px;
  }

  .program-div {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .program-span {
    font-size: 18px;
    width: 160px;
  }

  .program-title {
    font-size: 24px;
    text-align: center;
  }
}
